{%  extends "layout.html" %}

{% block content %}

    <div class="container">



         <div>

                {% if messages %}

                      {% for message in messages %}

                         <p style="color: red; margin-top: 30px"> {{ message }}</p>

                      {% endfor %}

                {%  endif %}

            </div>

            {%  if applications %}

                <div class="text-center" style="margin-top: 20px">

                    <h3> Applicants </h3>

                <table class="table table-dark mx-auto">
                      <thead>
                        <tr>
                             <th scope="col" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">#</th>
                             <th scope="col" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Applicant name</th>
                             <th scope="col" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Matching Score</th>
                             <th scope="col" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"></th>
                        </tr>
                      </thead>
                        <tbody>

                {%  for item in applications %}


                        <tr>

                          <th scope="row" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ forloop.counter }}</th>
                             <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ item.seeker_name }}</td>
                             <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ item.matching_score }}</td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <a href="{% url 'applicant_details' item.job_id item.seeker_id  %}"> <button  class="btn-sm btn-info">

                                    More Details
                                </button></a>
                            </td>

                        </tr>



                {% endfor %}

                </tbody>
                </table>

                </div>


            {% else %}

                <div class="text-center">

                    <h6 style="margin-top: 100px;color: #c9302c" > You dont have any applicants currently </h6>


                </div>



            {% endif %}


    </div>











{%  endblock %}